<div
  id="app_container"
  [class.is-mobile]="mobileQuery.matches"
  class="nav-container"
>
  <mat-toolbar
    style="margin-bottom: 5px"
    color="primary"
    class="mat-elevation-z3 app-toolbar"
  >
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <h1 class="app-name"><a routerLink="/">{{appTitle}}</a></h1> -->
    <a style="margin-top: 12px" (click)="goToHome()"
      ><img src="../assets/logo/eInvest.png"
    /></a>

    <span class="app-toolbar-spacer"></span>
    <!-- <app-theme-picker></app-theme-picker> -->
    <!--<app-lang-switcher></app-lang-switcher>-->

    <a *ngIf="isLogged === 'false'" mat-button routerLink="/help">
      <mat-icon class="mat-48">help</mat-icon>
      <span> Help</span>
    </a>
    <a *ngIf="isLogged === 'false'" mat-button routerLink="/">
      <mat-icon class="mat-18">home</mat-icon>
      <span>Home</span>
    </a>
    <a *ngIf="isLogged === 'false'" mat-button routerLink="/contact">
      <mat-icon class="mat-18">my_location</mat-icon>
      <span>Contact</span>
    </a>

    <button *ngIf="isLogged === 'false'" mat-button (click)="DoLogin()">
      <mat-icon>lock_open</mat-icon>
      <span>{{ "mainMenu.Login" | translate }}</span>
    </button>
    <button
      *ngIf="(isLoggedIn$ | async)"
      mat-button
      (click)="viewNotification()"
    >
      <mat-icon matBadge="{{ numberOfNotification }}" matBadgeColor="warn"
        >notifications</mat-icon
      >
    </button>

    <button
      *ngIf="isLogged === 'false'"
      mat-button
      (click)="router.navigateByUrl('/register')"
    >
      <mat-icon>person</mat-icon>
      <span>{{ "mainMenu.Register" | translate }}</span>
    </button>
    <button *ngIf="isLogged !== 'false'" mat-button class="side-button">
      <mat-icon class="menu-button">account_circle</mat-icon>
      <span>{{ currentUsername }}</span>
    </button>
    <button
      *ngIf="isLogged !== 'false'"
      class="side-button"
      mat-button
      [matMenuTriggerFor]="accountMenu"
      matTooltip="{{ 'mainMenu.UserAccount' | translate }}"
    >
      <!--<mat-icon class="menu-button">account_circle</mat-icon>-->
      <mat-icon class="menu-button">more_vert</mat-icon>
      <!--<span>{{currentUsername}}</span>-->
    </button>
    <mat-menu #accountMenu="matMenu">
      <!--<button *ngIf="isLoggedIn$ | async" mat-menu-item (click)="router.navigateByUrl('/settings')">-->
      <!--<mat-icon>person</mat-icon>-->
      <!--<span>{{'mainMenu.Profile' | translate}}</span>-->
      <!--</button>-->
      <button
        *ngIf="(isLoggedIn$ | async)"
        mat-menu-item
        (click)="router.navigateByUrl('/manage-password/1')"
      >
        <mat-icon>settings</mat-icon>
        <span>{{ "mainMenu.changePassword" | translate }}</span>
      </button>
      <button *ngIf="(isLoggedIn$ | async)" mat-menu-item (click)="logout()">
        <mat-icon>lock</mat-icon>
        <span>{{ "mainMenu.Logout" | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <!--{{isLoggedIn$}}-->
  <mat-sidenav-container
    style="margin-top: 2px"
    class="app-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      *ngIf="(isLoggedIn$ | async)"
      #mainNav
      class="app-sidenav-nav mat-elevation-z6"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
    >
      <mat-nav-list>
        <a
          *ngIf="!isLogged"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/login"
        >
          <mat-icon>dashboard</mat-icon>
          {{ "mainMenu.Home" | translate }}</a
        >
        <a
          *ngIf="isInvestor"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/dashboard"
        >
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>

        <a
          *ngIf="
            !isInvestor && !canViewReadOnlyData && !canManageLookupsPermission
          "
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/officer-dashboard"
        >
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a
          *ngIf="!isInvestor && !canManageManageIncentiveAssignedServices"
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/management-dashboard"
        >
          <mat-icon class="mat-18">collections</mat-icon>
          Management Dashboard
        </a>

        <mat-expansion-panel
          *ngIf="isInvestor"
          #profile
          [class.mat-elevation-z0]="!profile.expanded"
        >
          <mat-expansion-panel-header style="font-size: 16px;">
            <mat-panel-title>
              <mat-icon>reorder</mat-icon>
              {{ "mainMenu.BusinessProfile" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list dense class="mat-expansion-panel-body">
            <a
              *ngIf="isInvestor"
              mat-list-item
              routerLinkActive="active"
              (click)="Investor()"
            >
              <mat-icon color="primary" class="mat-18">account_circle</mat-icon>
              {{ "mainMenu.InvestorProfile" | translate }}</a
            >
            <a
              *ngIf="isInvestor"
              (click)="toMangerList()"
              mat-list-item
              routerLinkActive="active"
            >
              <mat-icon color="primary">people</mat-icon>
              {{ "mainMenu.associate" | translate }}</a
            >
            <a
              *ngIf="isInvestor"
              (click)="toServiceList()"
              mat-list-item
              routerLinkActive="active"
            >
              <mat-icon color="primary" class="mat-18">view_list</mat-icon>
              {{ "mainMenu.Services" | translate }}</a
            >
          </mat-list>
        </mat-expansion-panel>
        <!--<a *ngIf="canViewTasks " mat-list-item routerLinkActive="active"-->
        <!--(click)="gotoCustomerRegistration()">-->
        <!--<mat-icon>people</mat-icon>-->
        <!--{{'mainMenu.customerRegistration' | translate}}-->
        <!--</a>-->

        <a
          *ngIf="isInvestor"
          mat-list-item
          routerLinkActive="active"
          routerLink="/appointment"
        >
          <mat-icon>announcement</mat-icon>
          Notifications
        </a>
        <a
          *ngIf="isInvestor"
          mat-list-item
          routerLinkActive="active"
          routerLink="/draft-application"
        >
          <mat-icon>drafts</mat-icon>
          Draft Application
        </a>
        <a
          *ngIf="isInvestor"
          mat-list-item
          routerLinkActive="active"
          routerLink="/archive-application"
        >
          <mat-icon>library_add</mat-icon>
          Archive application
        </a>
        <a
          *ngIf="isInvestor"
          mat-list-item
          routerLinkActive="active"
          (click)="startService('1001', 'incentive Detail')"
        >
          <mat-icon>library_add</mat-icon>
          Incentive Detail
        </a>
        <a
          *ngIf="canViewTasks"
          mat-list-item=""
          (click)="startService('1001', 'capitalRegistration')"
        >
          <mat-icon>reorder</mat-icon>
          {{ "mainMenu.capitalRegistration" | translate }}
        </a>
        <mat-expansion-panel
          *ngIf="
            canManageManageIncentiveAssignedServices ||
            canManageAssignedServicesPermission
          "
          #serv
          [class.mat-elevation-z0]="!serv.expanded"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>reorder</mat-icon>
              {{ "mainMenu.Services" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list dense class="mat-expansion-panel-body">
            <mat-list-item *ngFor="let item of serviceList">
              <a
                (click)="startService(item.ServiceId, item.DisplayNameEnglish)"
                mat-list-item
                routerLinkActive="active"
              >
                <mat-icon color="primary">{{ item.Icon }}</mat-icon>
                {{ item.DisplayNameEnglish | filterPipe: 14 }}
              </a>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <a
          *ngIf="canManageManageAftercareData"
          mat-list-item=""
          (click)="startService('1234', 'Aftercare')"
        >
          <mat-icon>reorder</mat-icon>
          {{ "mainMenu.Aftercare" | translate }}
        </a>

        <mat-expansion-panel
          *ngIf="canManageSettings"
          #Category
          [class.mat-elevation-z0]="!Category.expanded"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>reorder</mat-icon>
              {{ "mainMenu.setting" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list dense class="mat-expansion-panel-body">
            <a mat-list-item routerLinkActive="active" routerLink="address">
              <mat-icon color="primary" class="mat-18">edit_location</mat-icon>
              {{ "mainMenu.address" | translate }}</a
            >
            <a mat-list-item routerLinkActive="active" routerLink="category">
              <mat-icon color="primary" class="mat-18">subject</mat-icon>
              {{ "mainMenu.Category" | translate }}</a
            >
            <a mat-list-item routerLinkActive="active" routerLink="lookup-tab">
              <mat-icon color="primary" class="mat-18">subject</mat-icon>
              {{ "mainMenu.lookup" | translate }}</a
            >
            <a
              mat-list-item
              routerLinkActive="active"
              routerLink="services-tab"
            >
              <mat-icon color="primary" class="mat-18">room_service</mat-icon>
              {{ "mainMenu.Service" | translate }}
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="other">
              <mat-icon color="primary" class="mat-18">settings</mat-icon>
              {{ "mainMenu.site" | translate }}</a
            >
            <a
              mat-list-item
              routerLinkActive="active"
              routerLink="lettertempalte"
            >
              <mat-icon color="primary" class="mat-18">settings</mat-icon>
              {{ "mainMenu.lettertemplate" | translate }}</a
            >
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel
          *ngIf="
            (canManageRoles || canManageUsers || canManageAdmins) && !isInvestor
          "
          #admin
          [class.mat-elevation-z0]="!admin.expanded"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>security</mat-icon>
              {{ "mainMenu.Admin" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngIf="canManageUsers" mat-list-item routerLink="/admin/users">
            <mat-icon>people</mat-icon>
            {{ "mainMenu.Users" | translate }}</a
          >
          <a
            *ngIf="canManageRoles"
            mat-list-item
            routerLinkActive="active"
            routerLink="/admin/roles"
          >
            <mat-icon>security</mat-icon>
            {{ "mainMenu.Roles" | translate }}</a
          >
        </mat-expansion-panel>
      </mat-nav-list>

      <mat-nav-list *ngIf="canViewReadOnlyData">
        <a
          mat-list-item
          routerLinkActive="active"
          routerLink="/search-browser/0/0/0"
        >
          <mat-icon class="mat-18">group_work</mat-icon>
          Projects
        </a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!isInvestor">
        <a
          mat-list-item
          routerLinkActive="active"
          target="_blank"
          href="http://www.invest-ethiopia.com:9090/default.aspx"
        >
          <mat-icon class="mat-48">trending_up</mat-icon>
          Report
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="!isInvestor">
        <a mat-list-item routerLinkActive="active"
           tinfoarget="_blank"
           href="/help">
          <mat-icon>help</mat-icon>
          Help
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="isInvestor">
        <a mat-list-item routerLinkActive="active"
           tinfoarget="_blank"
           href="/Help">
          <mat-icon>help</mat-icon>
          Help
        </a>
      </mat-nav-list>
      <!--<mat-nav-list>-->
      <!--<a mat-list-item routerLinkActive="active" routerLink="/">-->
      <!--<mat-icon>info</mat-icon>-->
      <!--Info-->
      <!--</a>-->
      <!--&lt;!&ndash;<a *ngIf="isInvestor" mat-list-item routerLinkActive="active" routerLink="/about">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-icon>info</mat-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;{{'mainMenu.About' | translate}}</a>&ndash;&gt;-->
      <!--</mat-nav-list>-->
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="column" fxFill>
        <div style="margin:0px 30px;" id="mainContent" fxFlex="grow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer *ngIf="isLogged === 'false'">
    <app-footer></app-footer>
  </footer>
</div>
<ngx-ui-loader></ngx-ui-loader>
