<mat-toolbar mat-dialog-title>
  <h1 mat-dialog-title>
    <mat-icon>create</mat-icon>
    {{('invActivity.header' | translate)}}
  </h1>
</mat-toolbar>
<mat-card class="mat-elevation-z8">
  <br/>
  <mat-card-content>
    <form #form="ngForm" [formGroup]="invActivityForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column"
          autocomplete="off">
      <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
        <mat-form-field>
          <mat-label>{{'invActivity.Sector' | translate}}</mat-label>
          <mat-select formControlName="cSector" [compareWith]="compareIds"
                      (selectionChange)="filterSector($event.value)" required>
            <option value="0">--Select--</option>
            <mat-option *ngFor="let sector of sectorModels" [value]="sector.SectorId">
              <span>{{sector.DescriptionEnglishAlias}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.SubSector' | translate}}</mat-label>
          <mat-select formControlName="cSubSector" [compareWith]="compareIds"
                      (selectionChange)="filterSubSector($event.value)" required>
            <option value="0">--Select--</option>
            <mat-option *ngFor="let subsector of fillterssubsectorModels" [value]="subsector.SubSectorId">
              <span>{{subsector.DescriptionEnglishAlias}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.Activity' | translate}}</mat-label>
          <mat-select formControlName="cActivity" [compareWith]="compareIds" required>
            <option value="0">--Select--</option>
            <mat-option *ngFor="let activity of filltersActivityModels" [value]="activity.ActivityId">
              <span>{{activity.DescriptionEnglishAlias}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.Description' | translate}}</mat-label>
          <input matInput formControlName="cDescription" required maxlength="150"/>
          <mat-error *ngIf="Description.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="Description.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'150'} }}
          </mat-error>
          <mat-error *ngIf="Description.hasError('pattern')">
            {{'common.validation.UseEthiopicOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.DescriptionAlias' | translate}}</mat-label>
          <input matInput formControlName="cDescriptionAlias" required maxlength="30"/>
          <mat-error *ngIf="DescriptionAlias.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="DescriptionAlias.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'20'} }}
          </mat-error>
          <mat-error *ngIf="DescriptionAlias.hasError('pattern')">
            {{'common.validation.UseEthiopicOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.DescriptionEnglish' | translate}}</mat-label>
          <input matInput formControlName="cDescriptionEnglish" required maxlength="200"/>
          <mat-error *ngIf="DescriptionEnglish.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="DescriptionEnglish.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'200'} }}
          </mat-error>
          <mat-error *ngIf="DescriptionEnglish.hasError('pattern')">
            {{'common.validation.UseLatinOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.DescriptionEnglishAlias' | translate}}</mat-label>
          <input matInput formControlName="cDescriptionEnglishAlias" required maxlength="30"/>
          <mat-error *ngIf="DescriptionEnglishAlias.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="DescriptionEnglishAlias.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'20'} }}
          </mat-error>
          <mat-error *ngIf="DescriptionEnglishAlias.hasError('pattern')">
            {{'common.validation.UseLatinOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label></mat-label>
          <mat-label>{{'invActivity.InAddisOromiaAreas' | translate}}</mat-label>
          <input matInput formControlName="cInAddisOromiaAreas" required maxlength="1"/>
          <mat-error *ngIf="InAddisOromiaAreas.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="InAddisOromiaAreas.hasError('pattern')">
            {{'common.validation.NumberOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'invActivity.InOtherAreas' | translate}}</mat-label>
          <mat-label></mat-label>
          <input matInput formControlName="cInOtherAreas" required maxlength="1"/>
          <mat-error *ngIf="InAddisOromiaAreas.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="InAddisOromiaAreas.hasError('pattern')">
            {{'common.validation.NumberOnly' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary" style="margin: 15px;">
          Save
        </button>
        <button mat-raised-button (click)="onBack()" color="warn" type="button">
          Cancel
        </button>
      </div>

      <div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

