<mat-card class="margin-2 simple-card">
  <mat-card-header>
    <mat-card-subtitle class="sub-title"></mat-card-subtitle>
    <button class="custom-button" (click)="generateCertification()">
      Generate
      Certificate
    </button>
    <button class="custom-button" (click)="addMessage()">
      Send Message
    </button>
  </mat-card-header>
</mat-card>

<mat-card class="margin-2 margin-top-20" *ngIf="viewCertificate">
  <mat-card-header>
    <div fxFlex="70"></div>
    <div fxFlex="25" style="float: right;">
      <button class="custom-button " (click)="generatePDF()">Print</button>
      <!--<button class="custom-button " (click)="Print()">Print</button>-->
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>
    </mat-card-title>
    <div id="certificate" class="c-container">
      <header class="clearfix">

        <!--<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">-->
          <!--<div class="block" fxFlex="20%">-->
            <!--<div id="company" class="clearfix logo-image">-->
              <!--<img width="100"  src="/assets/logo/Trade.gif">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="block" fxFlex="60%">-->
            <!--<div id="logo" class="full-width">-->
              <!--<div class="certificate-title">ንግድ ሚኒስቴር</div>-->
              <!--<div class="certificate-titlet">Ministry of Trade</div>-->
              <!--<div style="margin-top: 5px" class="c-subtitle">የንግድ ፍቃድ  </div>-->
              <!--<div class="c-subtitle">Bussines License </div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="block" fxFlex="20%">-->
            <!--<div class="logo-image" id="project">-->
              <!--<img width="100" src="/assets/images/et.png">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div style="float: right;;margin-top: 100px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
          <div id="sub-header" class="block" style="font-size: 13px">
            <table>
              <tr>
                <td class="s-head" width="140px">
                  የመዝገብ ቁጥር/File No.
                </td>
                <td class="dta-head">{{investor?.RegistrationNumber}}</td>
              </tr>
              <tr>
                <td class="s-head">
                  የግብር ከፋይ መለያ ቁጥር/TIN
                </td>
                <td class="dta-head">{{bussinessData?.OwnerTIN}}</td>
              </tr>
              <tr>
                <td class="s-head">
                  የንግድ ምዝገባ ቁጥር  <br>  Principal Registration No
                </td>

                <td class="dta-head">MOT/{{investor?.RegistrationNumber }}/10

                </td>

              </tr>
              <tr>
                <td class="s-head">
                  የቀድሞው ፈቃድ ቁጥር <br> 		Previous  License  No.
                </td>
                <td class="dta-head"></td>
              </tr>
              <tr>
                <td class="s-head">
                  የንግድ ሥራ ፈቃድ ቁጥር <br> Business License  No
                </td>
                <td class="dta-head"></td>
              </tr>
              <tr>
                <td class="s-head">
                  የቀድሞው  የምዝገባ ቀን	 <br> Previous Registration Date
                </td>
                <td class="dta-head"></td>
              </tr>
              <tr>
                <td class="s-head">
                  ቀድሞ ተሰጠበት ቀን <br>	Previous  Date of issuance
                </td>
                <td class="dta-head"></td>
              </tr>
              <tr>
                <td class="s-head">
                  የተሰጠበት ቀን <br>	Date of issuance
                </td>
                <td class="dta-head">{{date | date}}</td>
              </tr>
            </table>
          </div>
        </div>
      </header>

      <div class="main" style="border-top: 1px solid #c4cbcc;margin-bottom: 10px; padding-top: 5px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">

          <div id="amharic" class="block" fxFlex="45.5%">
            <table id="basic" class="full-width">
              <tbody>
              <tr>
                <td class="t-header" style="width: 100px">1. የግለሰቡ/የድርጅቱ ስም</td>
                <td class="data value" style="width: 100px">
                  {{bussinessData.TradeNameAmh}}

                </td>
              </tr>
              <tr>
                <td class="t-header">2. ዜግነት</td>
                <td class="data value">{{investor.Nationality | countryPipe : 0 }}</td>
              </tr>
              <tr>
                 <td class="t-header">3.የንግድ ስም</td>
                 <td class="data value">{{investorDetailList?.Investor.TradeName}}</td>
               </tr>
              <tr>
                <td class="t-header">4. የሥራ አስክያጅ ስም</td>
                <td class="data value">
                  {{manager[0].FirstName}}
                  {{manager[0].FatherName}}
                  {{manager[0].FatherName}}
                </td>
              </tr>
              </tbody>
            </table>

            <table class="full-width">
              <caption class="caption">5. የንግድ ድርጅቱ አድራሻ</caption>
              <tbody>
              <tr>
                <td class="a-header">ክልል</td>
                <td class="data value">{{investorAddressList?.Region.Description}}</td>
                <td class="a-header">ዞን</td>
                <td class="data value">{{investorAddressList?.Region.Zones[0].DescriptionEnglish }}</td>
              </tr>
              <tr>
                <td class="a-header">ከተማ</td>
                <td class="data value">--</td>
                <td class="a-header">ክፍለ ከተማ</td>
                <td class="data value">{{investorAddressList?.WoredaId}}</td>
              </tr>
              <tr>
                <td class="a-header">ቀበሌ/ወረዳ</td>
                <td class="data value">
                  {{investorAddressList?.KebeleId}}
                </td>
                <td class="a-header">የቤት ቁጥር</td>
                <td class="data value">{{investorAddressList?.HouseNo}}</td>
              </tr>
              <tr>
                <td class="a-header">ፖ ሳ ቁ</td>
                <td class="data value">{{investorAddressList?.Pobox}}</td>
                <td class="a-header">ስልክ ቁጥር</td>
                <td class="data value">{{investorAddressList?.TeleNo}}</td>
              </tr>
              <tr>
                <td class="a-header">ፋክስ</td>
                <td class="data value">{{investorAddressList?.Fax}}</td>
                <td class="a-header">ኢ-ሜይል</td>
                <td class="data value">{{investorAddressList?.Email}}</td>
              </tr>
              </tbody>
            </table>


            <table class="full-width">
              <caption class="caption">6. የንግድ ስራ ዘርፍ </caption>
              <tbody>
              <!--<tr>
                <td class="data value">
                  {{investmentActivity?.Description}}</td>
              </tr>-->
              <tr>
                <td class="data value">
                  {{MajorDivision?.Description}}
                </td>
              </tr>
              </tbody>
            </table>
            <table class="full-width">
              <caption class="caption">7. የንግድ ሥራ መስክ </caption>
              <tbody>
              <!--<tr>
                <td class="data value">
                  {{investmentActivity?.Description}}</td>
              </tr>-->
              <tr>
                <td >
                  <div *ngFor="let vv of MajorDivisionList">
                    {{vv?.Description}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table id="investmentCapital" class="full-width">
              <tbody>
              <tr>
                <td class="t-header">8. የተመዘገበ ካፒታል በኢት ብር</td>
                <td class="data value">{{investor?.PaidCapital}}</td>
              </tr>
              </tbody>
            </table>
            <table class="full-width">
              <tr>
                <td style="font-size: 14px"> በግብር ከፋይ መለያ ቁጥር {{investor?.Tin}} የተመዘገበ መሆኑን እናረጋግጣለን ::
                </td>
              </tr>
            </table>

            <table class="full-width">
              <tr>
                <td> 	ይህ የንግድ ፈቃድ ዛሬ {{date | date}} በ አዲስ አበባ
                  ተሰጠ ።
                </td>
              </tr>
            </table>

            <table class="full-width">
              <tbody>
              <tr>
                <td class="t-header">የሃላፊ ስም/Name of Official</td>
                <td style="width: 300px" class="data value"></td>
              </tr>
              <tr>
                <td class="t-header">ፊርማ/Signature</td>
                <td style="width: 300px" class="data value"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div id="english" class="block" fxFlex="48.5%">
            <table id="basicEn" class="full-width">
              <tbody>
              <tr>
                <td class="t-header" style="width: 80px">1. Manager/ Company Name </td>
                <td class="data value"> {{investor.FirstNameEng}}
                  {{investor.FatherNameEng}}
                  {{investor.GrandNameEng}}</td>
              </tr>
              <tr>
                <td class="t-header">2. Nationality</td>
                <td class="data value">{{investor.Nationality | countryPipe : 1}}</td>
              </tr>
               <tr>
                 <td class="t-header">3. Trade Name</td>
                 <td class="data value">{{investorDetailList?.Investor.TradeName}}</td>
               </tr>
              <tr>
                <td class="t-header">4. Name of General Manager</td>
                <td class="data value">
                  {{manager[0].FatherNameEng}}
                  {{manager[0].FatherNameEng}}
                  {{manager[0].GrandNameEng}}
                  <!-- {{manager[0].Associate?.FatherNameEng}}
                   {{manager[0].Associate?.FatherNameEng}}
                   {{manager[0].Associate?.GrandNameEng}}-->
                </td>
              </tr>
              </tbody>
            </table>

            <table class="full-width">
              <caption class="caption">5. Business Address</caption>
              <tbody>
              <tr>
                <td class="a-header">Region</td>
                <td class="data value">{{investorAddressList?.Region.DescriptionEnglish}}</td>
                <td class="a-header">Zone</td>
                <td class="data value">{{investorAddressList?.Woreda.Zone.DescriptionEnglish }}</td>
              </tr>
              <tr>
                <td class="a-header">City</td>
                <td class="data value">--</td>
                <td class="a-header">Sub City</td>
                <td class="data value">{{investorAddressList?.WoredaEngId}}</td>
              </tr>

              <tr>
                <td class="a-header">Kebele/Woreda</td>
                <td class="data value">
                  {{investorAddressList?.KebeleEngId}}
                </td>
                <td class="a-header">House No.</td>
                <td class="data value">{{investorAddressList?.HouseNo}}</td>
              </tr>
              <tr>
                <td class="a-header">P.O.Box</td>
                <td class="data value">{{investorAddressList?.Pobox}}</td>
                <td class="a-header">Tel.No</td>
                <td class="data value">{{investorAddressList?.TeleNo}}</td>
              </tr>
              <tr>
                <td class="a-header">Fax</td>
                <td class="data value">{{investorAddressList?.Fax}}</td>
                <td class="a-header">E-mail</td>
                <td class="data value">{{investorAddressList?.Email}}</td>
              </tr>
              </tbody>
            </table>

            <table class="full-width">
              <caption class="caption">6. Sector of Business</caption>
              <tbody>
              <!-- <tr>
                 <td class="data value">{{investmentActivity?.DescriptionEnglish}}</td>
               </tr>-->
              <tr>
                <td class="data value">
                  {{MajorDivision?.EnglishDescription}}
                </td>
              </tr>
              </tbody>
            </table>
            <table class="full-width">
              <caption class="caption">7. Field of Business</caption>
              <tbody>
              <!-- <tr>
                 <td class="data value">{{investmentActivity?.DescriptionEnglish}}</td>
               </tr>-->
              <tr>
                <td >

                  <div *ngFor="let vv of MajorDivisionList">
                    {{vv?.EnglishDescription}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table id="investmentCapitalEn" class="full-width">
              <tbody>
              <tr>
                <td class="t-header"  style="width: 80px">8. Registered Capital in ETB </td>
                <td class="data value">{{investor?.PaidCapital}}</td>
              </tr>

              <!--<tr>
                <td class="t-header">10. Planned Export in Percent</td>
                <td class="data value">{{exportMarketShare | percent}}</td>
              </tr>-->
              </tbody>
            </table>

            <table class="full-width">
              <tr>
                <td> This Business License is issued in	{{date | date}}  <br>
                  on	Addis Ababa
                </td>
              </tr>
            </table>

            <table class="full-width">
              <tbody>
              <tr>
                <td class="t-header" style="width: 50px">እስከ
                </td>
                <td class="data value" width="90%">{{ date | date}} ታድሷል</td>
              </tr>
              <tr>
                <td class="t-header">Valid Until</td>
                <td class="data value">{{date | date}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em" style="font-size: 12px;">
          <div id="notices">
            <div>ማሳሰቢያ/Notice:</div>
            <div>1. ይህ የንግድ ፍቃድ ፍቃድ በአዋጅ ቁጥር 686/2002 መሠረት በየበጀት ዓመቱ ከሐምሌ 1 ቀን እስከ ታህሳስ 30 ቀን ድረስ ያለቅጣት የሚታደስ ሲሆን፤ ከጥር 1 ቀን እስከ ሰኔ 30 ቀን ድረስ በአዋጅ በተቀመጠው የሚታደስ ይሆናል።<br>
              This License Shall be renewed annually in accordance with Regulation no 686/2002 from 1 July to December 30 E.C with out penalty and with penalty from first January to June 30 E.C
            </div>
            <div style="margin-top: 10px !important;">
              2. ይህ የንግድ ፍቃድ የምስክር ወረቀት በዋስትና ወይም በእዳ ሊያዝ አይችልም።<br>
              The holder of this License is forbidden for surety ship or debt.
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
