<div style="margin-bottom: 20px;">
  <span class="sub-title">Message</span>
  <mat-divider></mat-divider>
</div>
<div>

  <form [formGroup]="notificationForm">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
      <div class="block  " fxFlex="">
        <mat-form-field class="demo-full-width">
          <mat-label>Officer Name:</mat-label>
          <input formControlName="FromUserId" matInput>
        </mat-form-field>
      </div>
      <div class="block" fxFlex="">
        <mat-form-field class="demo-full-width">
          <mat-label>To:</mat-label>
          <input formControlName="ToUserId" matInput value="{{investorName}}">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
      <mat-form-field fxFlex="45">
        <mat-select formControlName="CurrentStatus"
                    placeholder="Select Your Decision ">
          <!--<mat-option *ngFor="let choice of choices" [value]="choice">-->
          <!--choice-->
          <!--</mat-option>-->
          <mat-option value="44448">In Complete</mat-option>
          <mat-option value="44447">Approve</mat-option>
          <mat-option value="0">Reject</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <p>
      <mat-form-field style="height: 50px;"
                      class="demo-full-width">
        <mat-label>Message</mat-label>
        <textarea class="full-width message-body"
                  formControlName="Message" matInput
                  row="10">

        </textarea>
      </mat-form-field>
    </p>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
      <div class="block" fxFlex="">
      </div>
    </div>
  </form>
  <!--<mat-divider></mat-divider>-->

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2em">
    <button style="margin-top: 20px;" mat-raised-button
            (click)="sendMessage()"
            color="primary" mat-dialog-clos>
      Send Message
    </button>
  </div>
</div>
