<div class="mat-elevation-z8" style="margin: 15px;">
  <mat-form-field style="margin: 15px;width: 150px">
    <mat-label>{{'lookupTypes.LookupType' | translate}}</mat-label>
    <mat-select [compareWith]="compareIds" required (selectionChange)="filterLookup($event.value)">
      <mat-option *ngFor="let lookuptypes of lookuptypesModels" [value]="lookuptypes.LookUpTypeId">
        <span>{{lookuptypes.DescriptionEnglish}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="LookupTypes">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px">Lookup Type</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="100px"> {{row.DescriptionEnglish}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="LookupId">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px">Id</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="50px"> {{row.LookupId}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Amharic">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px">Amharic</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="180px"> {{row.Amharic}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="English">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px">English</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="180px"> {{row.English}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef fxFlex="100px">
        <button mat-button color="primary" (click)="editLookups()">
          <mat-icon class="mat-button-icon">add</mat-icon>
          {{'common.commands.Add' | translate}}
        </button>
      </mat-header-cell>
      <mat-header-cell *matHeaderCellDef fxFlex="100px">
      </mat-header-cell>
      <mat-cell *matCellDef="let Lookups" fxFlex="100px">
        <button mat-icon-button (click)="editLookups(Lookups)" type="button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmDelete(Lookups)" type="button">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

