<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
  <div *ngIf="errors.length>0" class="alert-info" fxLayout=" row wrap" fxLayoutAlign="center">
    <ol type="i">
      <li class="mat-error" *ngFor="let error of errors;">{{error}}</li>
    </ol>
  </div>


</div>

<form class="margin-2 " [formGroup]="documentForm">
  <mat-card #content class="padding-0" id="content">
    <!--<mat-card-header>-->
    <!--<mat-card-subtitle class="sub-title">-->

    <!--Attach Below listed PreRequisite document accordingly-->
    <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
    <!--</mat-card-subtitle>-->
    <!--</mat-card-header>-->

    <mat-card-content id="container">


      <div fxLayout="row wrap" fxLayoutAlign="center ">
        <mat-progress-bar color="accent" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-table class="full-width" #table [dataSource]="dataSource">
          <ng-container matColumnDef="No">
            <mat-header-cell fxFlex="6" *matHeaderCellDef>No</mat-header-cell>
            <mat-cell fxFlex="6" *matCellDef="let servicePreList; let i=index;">
              <div style="color: #0c97a8;font-weight: bolder;font-size: 16px;" *ngIf="servicePreList.IsDocument">
                {{i+1}}).
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="PreRequisite">
            <mat-header-cell fxFlex="40" *matHeaderCellDef>PreRequisite</mat-header-cell>
            <mat-cell fxFlex="40" class="attachDocument" *matCellDef="let servicePreList;">
              <div *ngIf="servicePreList.IsDocument">{{(servicePreList.DescriptionEnglish==null)?
                '':(servicePreList.DescriptionEnglish )}}
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="url" fxLayoutAlign="center">
            <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Url</mat-header-cell>
            <mat-cell fxLayoutAlign="center center" *matCellDef="let servicePreList;">
              <!--{{servicePreList.ServicePrerequisiteId | documentPipe: 9074 }}-->
              <!--<a target="_blank" href="http://www.google.component">viebw</a>-->

              <a style="padding-left: 50px;font-weight:bolder;color: #0c97a8;font-size: 16px;text-decoration: none;"
                 *ngIf="servicePreList.upload" target="_blank"
                 href="{{baseUrl}}Upload/{{servicePreList.URL}}">Show File</a>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell fxFlex="25" *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell fxFlex="25" *matCellDef="let servicePreList;let i=index;">
              <div *ngIf="servicePreList.IsDocument">
                <a class="pointer"


                   (click)="file.click()">
                  <!--<mat-icon>attachment</mat-icon>-->
                  <span class="custom-button">Attach</span>
                </a>


                <input #file hidden type="file" multiple (change)="upload(i,file.files)"/>
                <a *ngIf="servicePreList.upload" class="pointer padding-lef-10 " mat-min-fab color="warn"
                   matTooltip="Click here to delete the file"
                   (click)="confirmFileDelete(servicePreList.DocumentId)">
                  <mat-icon color="warn">delete</mat-icon>
                  Delete
                </a>
                <span>
                                    <mat-icon *ngIf="servicePreList.upload" color="accent"
                                              class="mat-18 padding-lef-10 ">done</mat-icon>
                                </span>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns">
          </mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>


    </mat-card-content>

    <!--<div fxLayoutGap="3em" align="center">-->
    <!--<div style="padding: 20px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">-->

    <!--<div fxFlex="15">-->

    <!--&lt;!&ndash;<button class="custom-button" (click)="next()" color="warn" type="button">&ndash;&gt;-->
    <!--&lt;!&ndash;Back&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--</div>-->
    <!--<div style="text-align: center" fxFlex="67" fxFlexAlign="center">-->
    <!--&lt;!&ndash;<button mat-raised-button="" color="primary">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-icon class="mat-18">done</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;<span>Save as Draft</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->

    <!--<button style="margin-left: 10px" (click)="UpdateServiceApplication()" mat-raised-button="" class="mr-16"-->
    <!--color="primary">-->
    <!--<mat-icon color="primary">done</mat-icon>-->
    <!--<span>Submit </span>-->
    <!--</button>-->
    <!--</div>-->
    <!--<div fxFlex="15">-->

    <!--&lt;!&ndash;<button class="custom-button" (click)="next()" color="warn" type="button">&ndash;&gt;-->
    <!--&lt;!&ndash;Next&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
  </mat-card>

  <!--<button mat-raised-button="" color="accent" (click)="prindPdf()">Print as pdf</button>-->
</form>
