<mat-card class="margin-2" style="box-shadow: none;border: 1px solid #dddddd" *ngIf="!isSol">
  <!--<mat-card-subtitle class="sub-title">-->
  <!--<mat-icon color="primary" class="mat-18">add</mat-icon>-->
  <!--Add Share-->
  <!--<mat-divider></mat-divider>-->
  <!--</mat-card-subtitle>-->

  <mat-card-content>
    <form [formGroup]="projectShareForm" novalidate>

      <div fxLayout="row"
           fxLayoutAlign="start center"
           class="content"
           fxLayout.lt-sm="column"
           fxLayoutGap="2em">

        <div class="block" fxLayoutGap="2em">
          <mat-form-field fxLayoutGap="4em" [fxFlex]="20">
            <mat-label>Nationality * :</mat-label>
            <mat-select formControlName="Nationality">
              <mat-option *ngFor="let nation of nationList" [value]="nation.id">
                {{nation.descriptionEnglish}}
              </mat-option>
            </mat-select>
            <mat-error align="start" *ngIf="formErrors.Nationality" class="form__error">{{ formErrors.Nationality }}
            </mat-error>
            <mat-error align="start" *ngIf="projectShareForm.get('Nationality').hasError('value')" class="form__error">
              Redundant nation is not allowed
            </mat-error>
          </mat-form-field>

          <mat-form-field fxLayoutGap="4em" [fxFlex]="20">
            <mat-label>Quantity *:</mat-label>
            <input type="number" formControlName="Qty" matInput>
            <mat-error align="start" *ngIf="formErrors.Qty" class="form__error">{{ formErrors.Qty }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxLayoutGap="4em" [fxFlex]="20">
            <mat-label>Share Percent % *:</mat-label>
            <input type="number"
                   formControlName="SharePercent"
                   matInput>
            <mat-error align="start" *ngIf="formErrors.SharePercent" class="form__error">{{ formErrors.SharePercent }}
            </mat-error>
            <mat-error align="start" *ngIf="projectShareForm.get('SharePercent').hasError('value')" class="form__error">
              Sum of all share percent is exceeded 100
            </mat-error>
            <mat-error align="start" *ngIf="projectShareForm.get('SharePercent').hasError('max')" class="form__error">
              Share percent can not exceeded 100
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" fxLayoutGap="4em" [fxFlex]="30">
            <mat-label>Description :</mat-label>
            <textarea formControlName="Description" matInput>
                 </textarea>
          </mat-form-field>
        </div>

        <!--<div class="block" fxFlex="40%">-->

        <!--&lt;!&ndash;Total:{{totalShare}}&ndash;&gt;-->
        <!--</div>-->
        <div class="block" fxFlex="10%">
          <button class="custom-button " [disabled]="!projectShareForm.valid"
                  (click)="onSubmit()"
                  matTooltip="Add Share">
            <mat-icon color="accent" class=" mat-18">done</mat-icon>
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <!--<a style="margin-left: 4px" mat-raised-button class="pointer" (click)="onClear()" matTooltip="Clear Form">-->
          <!--<mat-icon color="accent" class="mat-18">clear_all</mat-icon>-->
          <!--clear-->
          <!--</a>-->
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="margin-2 padding-0" *ngIf="nationalityCompositionData.length>0 && !isSol">
  <mat-card-header>
    <mat-card-subtitle class="sub-title">List of Share
      <!--<mat-divider></mat-divider>-->
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="center ">

      <mat-table class="full-width" #table [dataSource]="dataSource">
        <ng-container style="width: 10px !important;" matColumnDef="No">
          <mat-header-cell style="width: 10px !important;" *matHeaderCellDef>No</mat-header-cell>
          <mat-cell style="width: 10px !important;" *matCellDef="let nationalityCompositionData;let i=index;">{{i+1}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nationality">
          <mat-header-cell *matHeaderCellDef>Nationality</mat-header-cell>
          <mat-cell *matCellDef="let nationalityCompositionData"> {{nationalityCompositionData.Nationality | countryPipe
            : 1
            }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Qty">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let nationalityCompositionData"> {{nationalityCompositionData.Qty}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SharePercent">
          <mat-header-cell *matHeaderCellDef> Share Percent</mat-header-cell>
          <mat-cell *matCellDef="let nationalityCompositionData"> {{nationalityCompositionData.SharePercent }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Description">
          <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell *matCellDef="let nationalityCompositionData">{{nationalityCompositionData.Description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let nationalityCompositionData;let i=index;">
            <div>
              <a class="pointer" mat-min-fab matTooltip="Click here to edit the Share"
                 (click)="onEditShare(i,nationalityCompositionData.ProjectNationalityCompositionId)">
                <mat-icon color="primary" class="mat-18">edit</mat-icon>
                Edit
              </a>
              <a class="pointer" mat-min-fab color="warn" matTooltip="Click here to delete the dhare"
                 (click)="deleteShare(i,nationalityCompositionData.ProjectNationalityCompositionId)">
                <mat-icon color="warn">delete</mat-icon>
                Delete
              </a>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
  </mat-card-content>

  <div align="center">
    <div style="padding: 20px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">

      <div fxFlex="15">

        <!--<button class="custom-button" (click)="next()" color="warn" type="button">-->
        <!--Back-->
        <!--</button>-->
      </div>
      <div style="text-align: center" fxFlex="67" fxFlexAlign="center">

      </div>
      <div fxFlex="15">

        <!--<button class="custom-button" (click)="next()" color="warn" type="button">-->
        <!--Next-->
        <!--</button>-->
      </div>

    </div>
  </div>
</mat-card>

<mat-card class="margin-2" style="box-shadow: none;border: 1px solid #dddddd" *ngIf="isSol">
  <!--<mat-card-subtitle class="sub-title">-->
  <!--<mat-icon color="primary" class="mat-18">add</mat-icon>-->
  <!--Add Share-->
  <!--<mat-divider></mat-divider>-->
  <!--</mat-card-subtitle>-->
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
      <div class="block" fxFlex="">
        <span style="font-weight: bolder;font-size: 14px;">Full Name : </span>{{InvestorDetial?.InvestorNameEng}}
      </div>
      <div class="block" fxFlex="">
        <span style="font-size: 14px;font-weight: bolder;">Share Percent </span>100 %
      </div>


    </div>
  </mat-card-content>
</mat-card>
