<mat-toolbar mat-dialog-title>
  <h1 mat-dialog-title>
    <mat-icon>create</mat-icon>
    {{('lookup.Header' | translate)}}
  </h1>
</mat-toolbar>
<mat-card class="mat-elevation-z8">
  <br/>
  <mat-card-content>
    <form #form="ngForm" [formGroup]="subLookupsForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column"
          autocomplete="off">
      <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
        <mat-form-field style="width: 150px">
          <mat-label>{{'lookup.LookupType' | translate}}</mat-label>
          <mat-select formControlName="cLookUpTypeId" [compareWith]="compareIds" required>
            <mat-option *ngFor="let lookuptypes of lookuptypesModels" [value]="lookuptypes.LookUpTypeId">
              <span>{{lookuptypes.DescriptionEnglish}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'lookup.LookupId' | translate}}</mat-label>
          <input matInput formControlName="cLookupId" required maxlength="10"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'lookup.Amharic' | translate}}</mat-label>
          <input matInput formControlName="cAmharic" required maxlength="150"/>
          <mat-error *ngIf="Amharic.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="Amharic.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'150'} }}
          </mat-error>
          <mat-error *ngIf="Amharic.hasError('pattern')">
            {{'common.validation.UseEthiopicOnly' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'lookupTypes.English' | translate}}</mat-label>
          <input matInput formControlName="cEnglish" required maxlength="200"/>
          <mat-error *ngIf="English.hasError('required')">
            {{'common.validation.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="English.hasError('maxlength')">
            {{'common.validation.MaxLengthChar' | translate: {'max':'200'} }}
          </mat-error>
          <mat-error *ngIf="English.hasError('pattern')">
            {{'common.validation.UseLatinOnly' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary" style="margin: 15px;">
          Save
        </button>
        <button mat-raised-button (click)="onBack()" color="warn" type="button">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

