<app-page-header title="manager" icon="person"></app-page-header>
<div class="page-content mat-elevation-z8">
  <div class="error-bar" style="width:100%; " *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>
  <form #form="ngForm" [formGroup]="associateForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column"
        autocomplete="off">
    <div style="margin: 10px">
      <table style="border: 0px; width: 650px;">
        <tr style="margin-left: 20px">
          <td>
            <h4>{{'investors.editor.MangerProfile' | translate}}</h4>
            <mat-divider></mat-divider>
            <div id="divSole">

              <div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
                  <mat-form-field fxFlex>
                    <mat-label>{{'investors.editor.FirstNameEng' | translate}}</mat-label>
                    <input matInput formControlName="cFirstNameEng" required/>
                    <mat-error *ngIf="firstNameEng.hasError('required')">
                      {{'common.validation.Required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="firstNameEng.hasError('minlength')">
                      {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                    </mat-error>
                    <mat-error *ngIf="!firstNameEng.hasError('required') && !firstNameEng.hasError('minlength')
                                                  && firstNameEng.hasError('pattern')">
                      {{'common.validation.UseLatinOnly' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <mat-label>{{'investors.editor.FatherNameEng' | translate}}</mat-label>
                    <input matInput formControlName="cFatherNameEng" required/>
                    <mat-error *ngIf="fatherNameEng.hasError('required')">
                      {{'common.validation.Required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!fatherNameEng.hasError('required') && fatherNameEng.hasError('minlength')">
                      {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                    </mat-error>
                    <mat-error *ngIf="!fatherNameEng.hasError('required') && !fatherNameEng.hasError('minlength')
                                                      && firstNameEng.hasError('pattern')">
                      {{'common.validation.UseLatinOnly' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <mat-label>{{'investors.editor.GrandNameEng' | translate}}</mat-label>
                    <input matInput formControlName="cGrandNameEng"/>
                    <!--<mat-error *ngIf="grandNameEng.hasError('required')">-->
                    <!--{{'common.validation.Required' | translate}}-->
                    <!--</mat-error>-->
                    <!--<mat-error *ngIf="grandNameEng.hasError('minlength')">-->
                    <!--{{'common.validation.MinLengthChar' | translate: {'min':'2'} }}-->
                    <!--</mat-error>-->
                  </mat-form-field>
                  <!--<mat-error *ngIf="grandNameEng.hasError('pattern')">-->
                  <!--{{'common.validation.UseLatinOnly' | translate}}-->
                  <!--</mat-error>-->
                </div>
              </div>
              <div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
                  <mat-form-field fxFlex>
                    <mat-label>{{'investors.editor.FirstName' | translate}}</mat-label>
                    <input matInput formControlName="cFirstName" required/>
                    <!--<mat-error *ngIf="firstName.hasError('required')">-->
                    <!--{{'common.validation.Required' | translate}}-->
                    <!--</mat-error>-->
                    <mat-error *ngIf="!firstName.hasError('required') && firstName.hasError('minlength')">
                      {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                    </mat-error>
                    <mat-error *ngIf="!firstName.hasError('required') && !firstName.hasError('minlength')
                                                && firstName.hasError('pattern')">
                      {{'common.validation.UseEthiopicOnly' | translate}}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-label>{{'investors.editor.FatherName' | translate}}</mat-label>
                    <input matInput formControlName="cFatherName" required/>
                    <!--<mat-error *ngIf="fatherName.hasError('required')">-->
                    <!--{{'common.validation.Required' | translate}}-->
                    <!--</mat-error>-->
                    <mat-error *ngIf="!fatherName.hasError('required') && fatherName.hasError('minlength')">
                      {{'common.validation.MinLengthChar' | translate: {'min':'2'} }}
                    </mat-error>
                    <mat-error *ngIf="!fatherName.hasError('required') && !fatherName.hasError('minlength')
                                                    && fatherName.hasError('pattern')">
                      {{'common.validation.UseEthiopicOnly' | translate}}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-label>{{'investors.editor.GrandName' | translate}}</mat-label>
                    <input matInput formControlName="cGrandName" required/>
                    <!--<mat-error *ngIf="grandName.hasError('required')">-->
                    <!--{{'common.validation.Required' | translate }}-->
                    <!--</mat-error>-->
                    <!--<mat-error *ngIf="grandName.hasError('minlength')">-->
                    <!--{{'common.validation.MinLengthChar' | translate: {'min':'2'} }}-->
                    <!--</mat-error>-->
                    <!--<mat-error *ngIf="grandName.hasError('pattern')">-->
                    <!--{{'common.validation.UseEthiopicOnly' | translate}}-->
                    <!--</mat-error>-->
                  </mat-form-field>

                </div>
              </div>

              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
                <mat-form-field fxLayoutGap="4em" class="col4">
                  <mat-label>{{'investors.editor.Title' | translate}}</mat-label>
                  <mat-select formControlName="Title">
                    <mat-option *ngFor="let title of TitleLookup" [value]="title.LookupId">
                      {{title.English}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field fxLayoutGap="4em" class="col4">
                  <mat-label>{{'investors.editor.Gender' | translate}}</mat-label>
                  <mat-select formControlName="cGender" required>

                    <mat-option *ngFor="let gender of genders" [value]="gender.Id">
                      {{gender.Desc}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="gender.hasError('required')">
                    {{'common.validation.Required' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxLayoutGap="4em">
                  <mat-label>{{'investors.editor.Nationality' | translate}}</mat-label>
                  <mat-select formControlName="cNationality" [compareWith]="compareIds">
                    <mat-option *ngFor="let country of nationList" [value]="country.id">
                      <span>{{country.descriptionEnglish}}</span>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="nationality.hasError('required')">
                    {{'common.validation.Required' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </td>
          <td>
            <div id="divPhoto" style="width: 150px; height: 150px; border:1px dotted gray; margin-top: 20px">
              <img [attr.src]='imgPhoto' alt=""/>
              <!-- <input type="file" accept="image/*"  class="inputfile"  required (change)="fileChange(input)" #input /> -->
              <input type="file" name="file" id="file" class="inputfile" (change)="fileChange(input)" #input/>

            </div>
            <label class="pickerLabel" for="file">Pick a Photo</label>
          </td>
        </tr>
      </table>

      <h4>{{'investors.editor.MangerAddress' | translate}}</h4>
      <mat-divider></mat-divider>
      <div formGroupName="address">
        <div id="divAddress">
          <div id="divAddress1" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Region' | translate}}</mat-label>
              <mat-select formControlName="RegionId" (selectionChange)="filterRegion($event.value)"
                          required>
                <mat-option *ngFor="let reg of regions" [value]="reg.RegionId">
                  <span>{{reg.Description}}</span>
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="region.hasError('required')">
                  {{'common.validation.Required' | translate}}
              </mat-error> -->
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Zone' | translate}}</mat-label>
              <mat-select formControlName="ZoneId">
                <!-- <option value="0">--</option> -->
                <!-- <mat-option value="0">--</mat-option> -->
                <mat-option *ngFor="let zone of filteredZones" [value]="zone.ZoneId">
                  <span>{{zone.Description}}</span>
                </mat-option>
              </mat-select>

              <!--<mat-error *ngIf="zone.hasError('required')">-->
              <!--{{'common.validation.Required' | translate}}-->
              <!--</mat-error>-->
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">

              <mat-label>{{'investors.editor.WoredaAmharic' | translate}}</mat-label>
              <input matInput formControlName="WoredaId"/>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.WoredaEnglish' | translate}}</mat-label>
              <input matInput formControlName="WoredaEngId"/>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleAmharic' | translate}}</mat-label>
              <input matInput formControlName="KebeleId"/>
            </mat-form-field>
          </div>
          <div id="divAddress3" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.KebeleEnglish' | translate}}</mat-label>
              <input matInput formControlName="KebeleEngId"/>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.HouseNo' | translate}}</mat-label>
              <input matInput formControlName="HouseNo"/>

              <!--<mat-error *ngIf="houseNo.hasError('required')">-->
              <!--{{'common.validation.Required' | translate}}-->
              <!--</mat-error>-->
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Email' | translate}}</mat-label>
              <input matInput formControlName="Email"/>
              <!--<mat-error *ngIf="email.hasError('required')">-->
              <!--{{'common.validation.Required' | translate}}-->
              <!--</mat-error>-->
              <!--<mat-error *ngIf="!email.hasError('required') && email.hasError('email')">-->
              <!--{{'common.validation.InvalidEmail' | translate}}-->
              <!--</mat-error>-->
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneDirect' | translate}}</mat-label>
              <input matInput formControlName="TeleNo"/>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.PhoneMobile' | translate}}</mat-label>
              <input matInput formControlName="CellPhoneNo"/>
            </mat-form-field>
          </div>
          <div id="divAddress2" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">


            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Fax' | translate}}</mat-label>
              <input matInput formControlName="Fax"/>
            </mat-form-field>
            <mat-form-field fxLayoutGap="4em">
              <mat-label>{{'investors.editor.Pobox' | translate}}</mat-label>
              <input matInput formControlName="Pobox"/>
            </mat-form-field>
            <div></div>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="row">
          <mat-form-field [fxFlex]="128">
            <mat-label>{{'investors.editor.OtherAddress' | translate}}</mat-label>
            <input matInput formControlName="OtherAddress" width="800px"/>
          </mat-form-field>
        </div>

      </div>
      <!-- <mat-divider></mat-divider> -->

      <div mat-dialog-actions style="margin: auto; text-align: center">
        <button mat-raised-button type="submit" color="primary" style="margin-right: 10px">
          {{'common.commands.Save' | translate}}
        </button>
        <button mat-raised-button (click)="onBack()" color="warn" type="button">
          {{'common.commands.Cancel' | translate}}
        </button>
      </div>
    </div>
  </form>

</div>
