<mat-tab-group style="width: 655px;margin-top: 20px;margin-left: 50px">
  <mat-tab label="lookup type">
    <ng-template matTabContent>
      <app-list-lookuptypes></app-list-lookuptypes>
    </ng-template>
  </mat-tab>
  <mat-tab label="lookup">
    <ng-template matTabContent>
      <app-list-lookups></app-list-lookups>
    </ng-template>
  </mat-tab>
  <mat-tab label="Currency Setting">
    <ng-template matTabContent>
      <app-currency-setting></app-currency-setting>
    </ng-template>
  </mat-tab>
</mat-tab-group>

