<mat-card class="margin-2 simple-card">
  <mat-card-header>

    <mat-card-subtitle class="sub-title"></mat-card-subtitle>
    <button mat-raised-button="" color="primary" (click)="generateCertification()">
      Generate
      Certificate
    </button>
    <button style="margin-left: 20px;" mat-raised-button="" color="primary" (click)="addMessage()">
      Send Message
    </button>

    <div fxFlex="30"></div>
    <!--<div style="float: right" class="block" fxFlex="20">-->

    <!--<mat-form-field>-->
    <!--<mat-select color="primary" class="full-width" placeholder="Select you want to edit" [(value)]="selected">-->
    <!--<mat-option value="0">Edit Investor</mat-option>-->
    <!--<mat-option value="1">Edit Manager</mat-option>-->
    <!--<mat-option value="2">Edit Project</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->

    <!--</div>-->
    <!--<div style="float: right" class="block" fxFlex="15">-->
    <!--<button mat-raised-button="" color="primary" (click)="editData()">Edit</button>-->


    <!--</div>-->
  </mat-card-header>
</mat-card>

<mat-card class="margin-2 margin-top-20" *ngIf="viewCertificate">

  <mat-card-header>
    <div fxFlex="15" style="float: right;">
      <button mat-raised-button="" color="primary" (click)="printTest()">Print</button>
      <!--<button class="custom-button " (click)="Print()">Print</button>-->
    </div>
    <div fxFlex="40">

    </div>
    <div fxFlex="15">
      <button mat-raised-button="" color="primary" (click)="editData(0)">Edit Investor</button>
      <!--<button class="custom-button " (click)="Print()">Print</button>-->
    </div>
    <div fxFlex="15">
      <button mat-raised-button="" color="primary" (click)="editData(1)">Edit Managers</button>
      <!--<button class="custom-button " (click)="Print()">Print</button>-->
    </div>
    <div fxFlex="15">
      <button mat-raised-button="" color="primary" (click)="editData(2)">Edit Projects</button>
      <!--<button class="custom-button " (click)="Print()">Print</button>-->
    </div>

    <!--<div fxFlex="15" style="float: right;">-->
    <!--<button mat-raised-button="" color="primary" (click)="generatePDF()">Export To Pdf</button>-->
    <!--&lt;!&ndash;<button class="custom-button " (click)="Print()">Print</button>&ndash;&gt;-->
    <!--</div>-->

  </mat-card-header>
  <mat-card-content>
    <mat-card-title>
    </mat-card-title>
    <div id="certificate" class="c-container">
      <header class="clearfix">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2em" style="margin-top: 135px">
          <!--<div class="block" fxFlex="20%">-->
          <!--<div id="company" class="clearfix logo-image">-->
          <!--<img width="100" src="/assets/logo/EIC.jpg">-->
          <!--</div>-->
          <!--</div>-->
          <div class="block" fxFlex="60%">

            <div id="logo" class="full-width">

              <!--<div class="certificate-title">ኢትዮጵያ የኢንቨስትመንት ኮሚሽን</div>-->
              <!--<div class="certificate-titlet">Ethiopian Investment Commision</div>-->


              <!--<div style="margin-top: 5px" class="c-subtitle">የሃገር ውስጥ ባለሃብት የኢንቨስትመንት ፈቃድ</div>-->
              <!--<div class="c-subtitle">INVESTMENT PERMIT FOR DOMESTIC</div>-->
              <div class="c-subtitle">{{formOfOwnerShipDescriptionAmharic}}</div>
              <div class="c-subtitle">{{formOfOwnerShipDescriptionEnglish}}</div>
            </div>
          </div>
          <!--<div class="block" fxFlex="20%">-->
          <!--<div class="logo-image" id="project">-->
          <!--<img width="100" src="/assets/images/et.png">-->
          <!--</div>-->
          <!--</div>-->
        </div>
        <div style="float: right;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2em">
          <div id="sub-header" class="block">
            <table>
              <tr>
                <td class="s-head">
                  የህትመት ቀን <br>
                  Date of Print
                </td>
                <td class="dta-head">{{todayEthioDate}}</td>
              </tr>
              <tr>
                <td class="s-head">
                  የፍቃድ ቁጥር <br> Permit No.
                </td>
                <td class="dta-head">EIC-IP/{{investorDetailList?.Project?.InvestmentPermitNo}}/11
                </td>

              </tr>
              <tr>
                <td class="s-head">
                  የቀድሞው ፈቃድ ቁጥር <br> Previous Permit No.
                </td>
                <td class="dta-head"></td>
              </tr>
              <tr>
                <td class="s-head">
                  የግብር ከፋይ መለያ ቁጥር <br>
                  TIN
                </td>
                <td class="dta-head">{{investorDetailList?.Investor.Tin}}</td>
              </tr>
              <tr>
                <td class="s-head">
                  የንግድ ምዝገባ ቁጥር <br> Registration No.
                </td>
                <td class="dta-head">{{investorDetailList?.Investor.RegistrationNumber}}</td>
              </tr>
              <tr>
                <td style="font-size: 21px !important;font-weight: bolder;" class="s-head" *ngIf="this.investorDetailList.ServiceId == 1023">
                  ማስፋፊያ/Expansion
                </td>
              </tr>
            </table>
          </div>
        </div>
      </header>

      <div class="main" style="border-top: 1px dotted #4b4f56;margin-top: 10px;">
        <div style="margin-top: 10px;" class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">
          <div class="block" fxFlex="">
            <span class="caption">1.የግለሰቡ/የድርጅቱ ስም</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data">
              {{titleAm}} {{investorDetailList?.Investor.InvestorName}}
            </span>
          </div>
          <div class="block" fxFlex="">
            <span class="caption">1. Name Of Investor/Company</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data">
              {{titleEn}}
              {{investorDetailList?.Investor.InvestorNameEng}}
            </span>
          </div>

        </div>
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">
          <div class="block" fxFlex="">
            <span class="caption">2.ዜግነት</span>
          </div>
          <div class="block full-width value" fxFlex="">

            <span class="data" *ngIf="this.investorDetailList.Investor.LegalStatus == 1">
              {{investorDetailList?.Investor.Nationality | countryPipe : 0}}</span>
            <span
              *ngIf="this.investorDetailList.Investor.LegalStatus != 1 && this.investorDetailList.Investor.FormOfOwnership != 5"
              class="data">
             {{NationalityAmharic}}
<!--=======-->
            <!--<span class="data">{{investorDetailList?.Investor.Nationality | countryPipe : 0}}</span>-->
            <!--<span-->
              <!--*ngIf="this.investorDetailList.Investor.LegalStatus != 1 && this.investorDetailList.Investor.FormOfOwnership != 5"-->
              <!--class="data">-->
              <!--{{NationalityAmharic}}-->
<!--&gt;>>>>>> 5239d50c8d20da9ef7f2b3a187e67cfb5f4ce20c-->
            </span>
            <span class="data" *ngIf="investorDetailList.Investor.FormOfOwnership == 5">
              በ{{investorDetailList?.Investor.BranchCountry | originpipe : 0}} የተመዘገበ
            </span>
          </div>
          <div class="block" fxFlex="">
            <span class="caption">2. Nationality</span>
          </div>
          <div class="block full-width value" fxFlex="">

            <span class="data" *ngIf="this.investorDetailList.Investor.LegalStatus == 1">{{investorDetailList?.Investor.Nationality | countryPipe : 1}}</span>
            <span
              *ngIf="this.investorDetailList.Investor.LegalStatus != 1 && this.investorDetailList.Investor.FormOfOwnership != 5"
              class="data">
             {{NationalityEnglish}}
<!--=======-->
            <!--<span class="data ">{{investorDetailList?.Investor.Nationality | countryPipe : 1}}</span>-->
            <!--<span-->
              <!--*ngIf="this.investorDetailList.Investor.LegalStatus != 1 && this.investorDetailList.Investor.FormOfOwnership != 5"-->
              <!--class="data">-->
              <!--{{NationalityEnglish}}-->
<!--&gt;>>>>>> 5239d50c8d20da9ef7f2b3a187e67cfb5f4ce20c-->
            </span>
            <span class="data " *ngIf="investorDetailList.Investor.FormOfOwnership == 5">
              Registered in {{investorDetailList?.Investor.BranchCountry | originpipe : 1}}
            </span>
          </div>

        </div>
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">
          <div class="block" fxFlex="">
            <span class="caption">3.የንግድ ስም</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data">{{investorDetailList?.Investor.TradeName}}</span>
            <span class="data" *ngIf="investorDetailList?.Investor.TradeName==undefined">
              --
            </span>

          </div>
          <div class="block" fxFlex="">
            <span class="caption">3. Trade Name</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data">{{investorDetailList?.Investor.TradeName}}</span>
            <span class="data" *ngIf="investorDetailList?.Investor.TradeName==undefined">
              --
            </span>
          </div>
        </div>
        <!--manger detial-->
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">
          <div class="block" fxFlex="">
            <span class="caption">4.የሥራ አስክያጅ ስም</span>

          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data">
              {{titleManAm}}
              {{manager[0].Associate?.FirstName}}
              {{manager[0].Associate?.FatherName}}
              {{manager[0].Associate?.GrandName}}
            </span>
          </div>
          <div class="block" fxFlex="">
            <span class="caption">4. Name of General Manager</span>

          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data ">
              {{titleManEn}}
              {{manager[0].Associate?.FirstNameEng}}
              {{manager[0].Associate?.FatherNameEng}}
              {{manager[0].Associate?.GrandNameEng}}
            </span>
          </div>

        </div>
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">


          <div class="block" fxFlex="">
            <table class="full-width">
              <caption class="caption">5.የባለሃብቱ/የድርጅቱ አድራሻ</caption>
              <tbody>
                <tr>
                  <td class="a-header">ክልል</td>
                  <td class="data value">{{investorAddressList?.Region.Description}}</td>
                  <td class="a-header">ዞን</td>
                  <td class="data value">{{investorAddressList?.Region.Zones[0].Description }}</td>
                </tr>
                <tr>
                  <td class="a-header">ከተማ</td>
                  <td class="data value">--</td>
                  <td class="a-header">ክፍለ ከተማ/ወረዳ</td>
                  <td class="data value">{{investorAddressList?.WoredaId}}</td>
                </tr>
                <tr>
                  <td class="a-header">ወረዳ/ቀበሌ</td>
                  <td class="data value">
                    {{investorAddressList?.KebeleId}}
                  </td>
                  <td class="a-header">የቤት ቁጥር</td>
                  <td class="data value">{{investorAddressList?.HouseNo}}</td>
                </tr>
                <tr>
                  <td class="a-header">ፖ.ሳ.ቁ</td>
                  <td class="data value">{{investorAddressList?.Pobox}}</td>
                  <td class="a-header">ስልክ ቁጥር</td>
                  <td class="data value">{{investorAddressList?.TeleNo}}</td>
                </tr>
                <tr>
                  <td class="a-header">ፋክስ</td>
                  <td class="data value">{{investorAddressList?.Fax}}</td>
                  <td class="a-header">ኢ-ሜይል</td>
                  <td class="data value">{{investorAddressList?.Email}}</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="block" fxFlex="">
            <table class="full-width">
              <caption class="caption">5. Address of Investor/Company</caption>
              <tbody>
                <tr>
                  <td class="a-header">Region</td>
                  <td class="data value">{{investorAddressList?.Region.DescriptionEnglish}}</td>
                  <td class="a-header">Zone</td>
                  <td class="data value">{{investorAddressList?.Zone.DescriptionEnglish }}</td>
                </tr>
                <tr>
                  <td class="a-header">City</td>
                  <td class="data value">--</td>
                  <td class="a-header">Sub City/Woreda</td>
                  <td class="data value">{{investorAddressList?.WoredaEngId}}</td>
                </tr>

                <tr>
                  <td class="a-header">Woreda/Kebele</td>
                  <td class="data value">
                    {{investorAddressList?.KebeleEngId}}
                  </td>
                  <td class="a-header">House No.</td>
                  <td class="data value">{{investorAddressList?.HouseNo}}</td>
                </tr>
                <tr>
                  <td class="a-header">P.O.Box</td>
                  <td class="data value">{{investorAddressList?.Pobox}}</td>
                  <td class="a-header">Tel.No</td>
                  <td class="data value">{{investorAddressList?.TeleNo}}</td>
                </tr>
                <tr>
                  <td class="a-header">Fax</td>
                  <td class="data value">{{investorAddressList?.Fax}}</td>
                  <td class="a-header">E-mail</td>
                  <td class="data value">{{investorAddressList?.Email}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>

        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">


          <div class="block" fxFlex="">
            <table class="full-width investmentLocation">
              <caption class="caption">6.የኢንቨስትመንቱ አድራሻ</caption>
              <tbody>
                <tr>
                  <td class="a-header">ክልል</td>
                  <td class="data value">{{investmentAddressList?.Region.Description}}</td>
                  <td class="a-header">ዞን</td>
                  <td class="data value">{{investmentAddressList?.Zone.Description}}</td>
                </tr>
                <tr>
                  <td class="a-header">ከተማ</td>
                  <td class="data value">---</td>
                  <td class="a-header">ክፍለ ከተማ/ወረዳ</td>
                  <td class="data value">{{investmentAddressList?.WoredaId}}</td>
                </tr>
                <tr>
                  <td class="a-header">ወረዳ/ቀበሌ</td>
                  <td class="data value">
                    {{investmentAddressList?.KebeleId}}
                  </td>
                  <td class="a-header">የቤት ቁጥር</td>
                  <td class="data value">{{investmentAddressList?.HouseNo}}</td>
                </tr>
              </tbody>
            </table>


          </div>
          <div class="block" fxFlex="">
            <table class="full-width investmentLocation">
              <caption class="caption">6. Investment Location</caption>
              <tbody>
                <tr>
                  <td class="a-header">Region</td>
                  <td class="data value">{{investmentAddressList?.Region.DescriptionEnglish}}</td>
                  <td class="a-header">Zone</td>
                  <td class="data value">{{investmentAddressList?.Region.Zones[0].DescriptionEnglish}}</td>
                </tr>
                <tr>
                  <td class="a-header">City</td>
                  <td class="data value">--</td>
                  <td class="a-header">Sub city/Woreda</td>
                  <td class="data value">{{investmentAddressList?.WoredaEngId}}</td>
                </tr>
                <tr>
                  <td class="a-header">Woreda/Kebele</td>
                  <td class="data value">
                    {{investmentAddressList?.KebeleEngId}}
                  </td>
                  <td class="a-header">House No.</td>
                  <td class="data value">{{investmentAddressList?.HouseNo}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>

        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">

          <div class="block" fxFlex="19">
            <span class="caption">7.የኢንቨስትመንት የስራ መስክ</span>
          </div>
          <div class="block full-width value" fxFlex="30">
            <span class="data">{{investmentActivity?.Description}}</span>

          </div>

          <div class="block" fxFlex="19">
            <span class="caption">7. Investment Activity</span>
          </div>
          <div class="block full-width value" fxFlex="30">
            <span class="data ">{{investmentActivity?.DescriptionEnglish}}</span>

          </div>

        </div>

        <!--//investment capital-->
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">

          <div class="block" fxFlex="">
            <span class="caption">8.የኢንቨስትመንቱ ካፒታል በኢት ብር</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data ">{{projectCostTotal |number }}</span>

          </div>

          <div class="block" fxFlex="">
            <span class="caption">8. Amount of Investment Capital in ETB</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data ">{{projectCostTotal |number }}</span>

          </div>

        </div>

        <!--invesment capital in USD-->
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">

          <div class="block" fxFlex="">
            <span class="caption">9.የኢንቨስትመንቱ ካፒታል (USD)</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data ">{{projectCostTotalUSD |number }}</span>

          </div>

          <div class="block" fxFlex="">
            <span class="caption">9. Amount of Investment Capital（USD）</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data ">{{projectCostTotalUSD |number }}</span>

          </div>

        </div>

        <!--export market share-->
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">

          <div class="block" fxFlex="">
            <span class="caption">10. የታቀደው የኤክስፖርት በመቶኛ</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data">{{exportMarketShare}}</span>

          </div>

          <div class="block" fxFlex="">
            <span class="caption">10. Planned Export in Percent</span>
          </div>
          <div class="block full-width value" fxFlex="">
            <span class="data ">{{exportMarketShare }}</span>

          </div>

        </div>

        <!--renewed -->
        <div id="reDate" class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">

          <div class="block" fxFlex="">
            <span class="t-header">
              በኢንቨስትመንት አዋጅ ቁጥር 769/2004 መሰረት ዛሬ <strong>{{todayEthioDate}}</strong> አዲስ አበባ
              ተሰጠ ።</span>
          </div>


          <div class="block" fxFlex="">
            <span class="t-header">
              This Permit is issued as per the Investment Proclamation
              in Addis Ababa this day <strong>{{today | date}}</strong>
            </span>
          </div>


        </div>
        <div class="rowlast row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1">

          <div class="block" fxFlex="">
            <table class="full-width">
              <tbody>
                <tr>
                  <td class="t-header">የሃላፊ ስም/Name of Official</td>
                  <td style="width: 300px" class="data value"></td>
                </tr>
                <tr>
                  <td class="t-header">ፊርማ/Signature</td>
                  <td style="width: 300px" class="data value"></td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="block" fxFlex="">
            <table class="full-width">
              <tbody>
<!--<<<<<<< HEAD-->
              <tr>
                <td class="t-header">እስከ
                </td>

                <td class="renewDate data value" style="width: 300px">
                  <span class="renewDate"> {{ todayEthioDateRenewal}} ታድሷል</span>
                </td>
              </tr>
              <tr>
                <!--<td class="t-header">Valid Until</td>-->
                <!--<td class=" renewDate data value" style="width: 300px">-->
                  <!--<span class="renewDate">   {{ dateGc | date}}</span>-->

                <!--</td>-->

              <!--<tr *ngIf="ServiceId==18">-->
                <td class="t-header">Valid Until</td>
                <td class=" data value" style="width: 300px">
                  <span class="renewDate">{{ renewedToGC | date:'mediumDate'}}</span>
                </td>
              </tr>
<!--=======-->
                <!--<tr>-->
                  <!--<td class="t-header">እስከ-->
                  <!--</td>-->

                  <!--<td class="renewDate data value" style="width: 300px">-->
                    <!--<span class="renewDate"> {{ dateEthioNextYear}} ታድሷል</span>-->
                  <!--</td>-->
                <!--</tr>-->
                <!--<tr *ngIf="ServiceId==13 || ServiceId==1023 ">-->
                  <!--<td class="t-header">Valid Until</td>-->
                  <!--<td class=" renewDate data value" style="width: 300px">-->
                    <!--<span class="renewDate"> {{ dateGc | date}}</span>-->

                  <!--</td>-->

                <!--<tr *ngIf="ServiceId==18">-->
                  <!--<td class="t-header">Valid Until</td>-->
                  <!--<td class=" data value" style="width: 300px">-->
                    <!--<span class="renewDate">{{ renewedTo | date:'mediumDate'}}</span>-->
                  <!--</td>-->
                <!--</tr>-->
<!--&gt;>>>>>> fd1f810871efd852481b3950f51a4a65d6ec6571-->
              </tbody>
            </table>
          </div>
        </div>
        <div class="row1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2em">
          <div id="notices">
            <div style="font-weight: bold;">ማሳሰቢያ/Notice:</div>
            <div class="notice">
              1. ይህ የኢንቨስትመንት ፈቃድ ባለሃብቱ የምርት ውጤቱን ወይም አገልግሎቱን ለገበያ ማቅረብ እስከጀመረበት ጊዜ ድረስ በዓመቱ መታደስ
              አለበት::<br>
              This permit shall be renewed annually until the investor commences the marketing of his product or
              services
            </div>
            <div class="notice" style="margin-top: 20px !important;">
              2. ኢንቨስተሩ ማምረት ወይም አገልግልግሎት መስጠት ከመጀመሩ በፊት የንግድ ምዝገባ ና ፈቃድ ማውጣት አለበት ::<br>
              The Investor is required to obtain trade registration and license of the enterprise prior to the
              commencement of operation .
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
