<form [formGroup]="letterForm" novalidate>
  <mat-card class="margin-2 margin-top-20">


    <div fxFlex="25" style="float: right;">
      <div fxFlex="25" style="float: right;margin-right: 20px;">
        <span *ngIf="ShowSave">
        <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
        <mat-divider></mat-divider>
          </span>
      </div>
      <span *ngIf="isForDetails">
      <button mat-raised-button="" color="primary" *ngIf="enableButtonGenerate"
              (click)="generatePDF()">Generate Letter</button>
        </span>
      <mat-divider></mat-divider>
    </div>

    <div fxLayout.xs="row wrap" fxLayoutAlign.xs="start center" fxLayoutGap="2em">
      <div class="block" fxLayoutGap="2em">
        <mat-form-field style="width: 150px">
          <mat-label>Letter Type</mat-label>
          <mat-select formControlName="LetterType" style="font-family: Calibri" type="text" [compareWith]="compareIds"
                      (selectionChange)="SetControls($event.value)"
                      required>
            <option value="0">--Select--</option>
            <mat-option *ngFor="let LetterType of Lookups" [value]="LetterType.LookupId">
              <span>{{LetterType.English}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span *ngIf="revenueBranchu">
        <mat-form-field fxFlex="40">
          <mat-label>Revenue Branch</mat-label>
          <mat-select formControlName="RevenueBranch" style="font-family: Calibri" type="text"
                      [compareWith]="compareIds" required>
            <option value="0">--Select--</option>
            <mat-option *ngFor="let revenuebranch of Lookuprevenues" [value]="revenuebranch.Amharic">
              <span>{{revenuebranch.Amharic}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
          </span>
        <mat-form-field *ngIf="RequestedDate">
          <input placeholder="Request Date * :" required
                 formControlName="RequestDate"
                 matInput
                 [matDatepicker]="RequestDate">
          <mat-datepicker-toggle matSuffix [for]="RequestDate"></mat-datepicker-toggle>
          <mat-datepicker #RequestDate>
          </mat-datepicker>
        </mat-form-field>
        <span *ngIf="attachment">
        <mat-form-field [fxFlex]="20">
          <mat-label>Attachment</mat-label>
          <input type="text" matInput required
                 formControlName="Attachment">
          <mat-error *ngIf="Attachment.hasError('pattern')">
            Only neumbric charcters are allowed!
          </mat-error>
          <mat-error *ngIf="!Attachment.hasError('maxlength')">
            Maximum charcters length is 2!
          </mat-error>
        </mat-form-field>
        </span>
        <span *ngIf="inoviceNo">
        <mat-form-field [fxFlex]="20">
          <mat-label>Invoice No</mat-label>
          <input type="text" matInput required
                 formControlName="InvoiceNo">
        </mat-form-field>
          </span>
        <span *ngIf="categoryCode">
        <mat-form-field [fxFlex]="20">
          <mat-label>Category Code</mat-label>
          <input type="text" matInput required
                 formControlName="CategoryCode">
          <!--<mat-error *ngIf="CategoryCode.hasError('pattern')">-->
          <!--Only neumbric charcters are allowed!-->
          <!--</mat-error>-->
          <!--<mat-error *ngIf="!CategoryCode.hasError('maxlength')">-->
          <!--Maximum charcters length is 10!-->
          <!--</mat-error>-->
        </mat-form-field>
          </span>

        <span *ngIf="chassisNo">
        <mat-form-field [fxFlex]="20">
          <mat-label>Chassis No</mat-label>
          <input type="text" matInput required
                 formControlName="ChassisNo">
        </mat-form-field>
          </span>
      </div>

    </div>
    <editor id="letterContent"
            apiKey="4yzxfc219romk1dtk7h8c9q8zci4aj73ls684uxob669uvo4"
            class="full-width"
            formControlName="LetterContent"
            [init]="{plugins: 'print',
            height : 600,
            theme: 'modern',
toolbar_items_size: 'small'}">

    </editor>

  </mat-card>

</form>
<mat-card class="margin-2 padding-0" style="width: 920px">
  <mat-card-header>
    <mat-card-subtitle class="sub-title">List of Letters
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="spinner-container" *ngIf="loading ">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="LetterType">
        <mat-header-cell *matHeaderCellDef fxFlex="35">Letter Type</mat-header-cell>
        <mat-cell *matCellDef="let LetterModels" fxFlex="35">
          {{LetterModels.LetterType | lookupPipe : 1}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="RequestDate">
        <mat-header-cell *matHeaderCellDef fxFlex="25">Request Date</mat-header-cell>
        <mat-cell *matCellDef="let LetterModels" fxFlex="25">
          {{LetterModels.RequestDate | date:'MM/dd/yyyy'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Action">
        <mat-header-cell fxFlex="18" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell fxFlex="18" *matCellDef="let LetterModels;let i=index;">
          <div>
            <a class="pointer" mat-min-fab matTooltip="Click here to edit the product"
               (click)="onEditLetter(i)">
              <mat-icon color="primary" class="mat-18">edit</mat-icon>
              Edit
            </a>
            <a class="pointer" mat--mini-fab color="warn" matTooltip="Click here to delete the product"
               (click)="deleteLetter(i,LetterModels.LetterId)">
              <mat-icon color="warn">delete</mat-icon>
              Delete
            </a>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
