<!--<mat-card class="margin-2" style="box-shadow: none;border: 1px solid #dddddd">-->
<!--&lt;!&ndash;<mat-card-subtitle class="sub-title">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon color="primary" class="mat-18">add</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;Add Share&ndash;&gt;-->
<!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card-subtitle>&ndash;&gt;-->
<!--<mat-card-content>-->
<!--<form [formGroup]="projectAssForm" novalidate>-->

<!--<div fxLayout="row"-->
<!--fxLayoutAlign="start center"-->
<!--class="content"-->
<!--fxLayout.lt-sm="column"-->
<!--fxLayoutGap="2em">-->

<!--<div class="block" fxLayoutGap="2em">-->
<!--<mat-form-field fxLayoutGap="4em" [fxFlex]="40">-->
<!--<mat-label>Nationality * :</mat-label>-->
<!--<mat-select formControlName="AssociateId">-->
<!--<mat-option *ngFor="let associate of associateList" [value]="associate.AssociateId">-->
<!--{{associate.FirstNameEng }}-->
<!--{{associate.FatherNameEng }}-->
<!--{{associate.GrandNameEng }}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--&lt;!&ndash;<mat-error align="start" *ngIf="formErrors.Nationality" class="form__error">{{ formErrors.Nationality }}&ndash;&gt;-->
<!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-error align="start" *ngIf="projectAssForm.get('Nationality').hasError('value')" class="form__error">&ndash;&gt;-->
<!--&lt;!&ndash;Redundant nation is not allowed&ndash;&gt;-->
<!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
<!--</mat-form-field>-->
<!--<mat-form-field fxLayoutGap="4em" [fxFlex]="40">-->
<!--<mat-label>Postion * :</mat-label>-->
<!--<mat-select formControlName="Postion">-->

<!--<mat-option value="0">manger</mat-option>-->
<!--<mat-option value="1">Deputy manger</mat-option>-->
<!--<mat-option value="3">Representative</mat-option>-->
<!--<mat-option value="4">Member</mat-option>-->
<!--</mat-select>-->
<!--&lt;!&ndash;<mat-error align="start" *ngIf="formErrors.Nationality" class="form__error">{{ formErrors.Nationality }}&ndash;&gt;-->
<!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-error align="start" *ngIf="projectAssForm.get('Nationality').hasError('value')" class="form__error">&ndash;&gt;-->
<!--&lt;!&ndash;Redundant nation is not allowed&ndash;&gt;-->
<!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
<!--</mat-form-field>-->

<!--&lt;!&ndash;<mat-form-field fxLayoutGap="4em" [fxFlex]="20">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-label>Postion *:</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="number" formControlName="Postion" matInput>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<mat-error align="start" *ngIf="formErrors.Qty" class="form__error">{{ formErrors.Qty }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</mat-error>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->

<!--</div>-->

<!--&lt;!&ndash;<div class="block" fxFlex="40%">&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;Total:{{totalShare}}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="block" fxFlex="10%">-->
<!--<button class="custom-button " [disabled]="!projectAssForm.valid"-->
<!--(click)="onSubmit()"-->
<!--matTooltip="Add Share">-->
<!--<mat-icon color="accent" class=" mat-18">done</mat-icon>-->
<!--{{editMode ? 'Update' : 'Add'}}-->
<!--</button>-->

<!--&lt;!&ndash;<a style="margin-left: 4px" mat-raised-button class="pointer" (click)="onClear()" matTooltip="Clear Form">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon color="accent" class="mat-18">clear_all</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;clear&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</div>-->
<!--<div class="block" fxFlex="10%">-->
<!--<button mat-raised-button="" color="primary"-->
<!--(click)="newAssociate()"-->
<!--matTooltip="Add Associate">-->
<!--<mat-icon class="mat-18">add</mat-icon>-->
<!--new-->
<!--</button>-->

<!--&lt;!&ndash;<a style="margin-left: 4px" mat-raised-button class="pointer" (click)="onClear()" matTooltip="Clear Form">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon color="accent" class="mat-18">clear_all</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;clear&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</mat-card-content>-->
<!--</mat-card>-->
<mat-card style="overflow: hidden;" class="margin-2 padding-0">
  <!--<mat-card-header>-->
  <!--<mat-card-subtitle class="sub-title">List of Associate-->
  <!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
  <!--</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="center ">

      <mat-table class="full-width" #table [dataSource]="dataSource">
        <ng-container style="width: 10px !important;" matColumnDef="No">
          <mat-header-cell style="width: 10px !important;" *matHeaderCellDef>No</mat-header-cell>
          <mat-cell style="width: 10px !important;" *matCellDef="let associateList;let i=index;">{{i+1}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="AssociateId">
          <mat-header-cell *matHeaderCellDef>Manger</mat-header-cell>
          <mat-cell *matCellDef="let associateList;">
            {{associateList?.FirstNameEng }}
            {{associateList?.FatherNameEng }}
            {{associateList?.GrandNameEng }}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef>
            Action
            <button style="margin-left: 20px;" mat-raised-button="" color="primary"
                    (click)="newAssociate()"
                    matTooltip="Add Manger">
              <mat-icon class="mat-18">add</mat-icon>
              new
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let associateList">
            <mat-checkbox [value]="associateList?.AssociateId"
                          [checked]="associateList.selected"
                          (change)="onMangerControlChanged($event,associateList)">
            </mat-checkbox>

          </mat-cell>

        </ng-container>
        <mat-header-row *matHeaderRowDef=" displayedColumns
            ">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
  </mat-card-content>

</mat-card>
