<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0">
  <div class="block" fxFlex="84">
    <app-page-header title="dashboard" icon="dashboard"></app-page-header>

  </div>
  <div class="block" fxFlex="15">
    <button (click)="toServiceList()"
            style="margin-left: 2px;"
            color="primary"
            mat-raised-button>
      Request Service
    </button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0">
  <div class="mini-label">All Applications</div>
</div>

<mat-sidenav-container>

  <mat-sidenav class="sidenav left-sidenav" position="start" opened="false" mode="over">
  </mat-sidenav>
  <!-- CENTER -->
  <div class="center" fxFlex>
    <div class="grid-container">
      <!-- <h1 class="mat-h1">Dashboard</h1> -->
      <mat-grid-list cols="2" *ngIf="serviceApplicationList.length>0;else serviceList;" rowHeight="300px">

        <mat-grid-tile [colspan]="2" [rowspan]="1">

          <mat-card class="dashboard-card padding-0 box" style="overflow: auto;">
            <!--<mat-card-header style=" background-color: whitesmoke">-->
            <!--<mat-checkbox (change)="search()" [checked]="isChecked" color="primary">Not completed Only-->
            <!--</mat-checkbox>-->
            <!--</mat-card-header>-->
            <mat-card-content style="top: 0px !important;" class="dashboard-card-content">
              <div fxFlex="100%">
                <div class="spinner-container" *ngIf="loading ">
                  <mat-progress-bar mode="query"></mat-progress-bar>
                </div>
                <mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="CaseNumber">
                    <mat-header-cell  *matHeaderCellDef>Case Number</mat-header-cell>
                    <mat-cell *matCellDef="let serviceApplicationList">
                      {{serviceApplicationList?.CaseNumber}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="ServiceName">
                    <mat-header-cell *matHeaderCellDef>Service Name</mat-header-cell>
                    <mat-cell *matCellDef="let serviceApplicationList">
                      {{serviceApplicationList?.ServiceNameEnglish | filterPipe: 50}}
                    </mat-cell>
                  </ng-container>
                  <!--<ng-container matColumnDef="ProjectName">-->
                  <!--<mat-header-cell *matHeaderCellDef>Project Name</mat-header-cell>-->
                  <!--<mat-cell *matCellDef="let serviceApplicationList">-->

                  <!--{{serviceApplicationList?.ProjectNameEnglish}}-->
                  <!--</mat-cell>-->
                  <!--</ng-container>-->


                  <ng-container matColumnDef="currentStatus">
                    <mat-header-cell *matHeaderCellDef>Application Status</mat-header-cell>
                    <mat-cell *matCellDef="let serviceApplicationList">
                     <span class="common-button-status drafted"
                           *ngIf="serviceApplicationList?.CurrentStatusId===44450">
             Drafted
                      </span>
                      <span class="common-button-status Submitted"
                            *ngIf="serviceApplicationList?.CurrentStatusId===44446">
             Submitted
                      </span>
                      <span class="common-button-status Approved"
                            *ngIf="serviceApplicationList?.CurrentStatusId===44447">
            Approved
                      </span>
                      <span class="common-button-status Pending"
                            *ngIf="serviceApplicationList?.CurrentStatusId===44448">
              Pending
                      </span>
                      <span class="common-button-status Completed"
                            *ngIf="serviceApplicationList?.CurrentStatusId===44449">
           Completed
                      </span>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="NextStep">
                    <mat-header-cell fxFlex="20" *matHeaderCellDef>Next Step</mat-header-cell>
                    <mat-cell fxFlex="20" *matCellDef="let serviceApplicationList">
                      <a class="pointer" style="color: #00bcd4;"
                         *ngIf="serviceApplicationList?.CurrentStatusId===44450"
                         (click)="nextStep(serviceApplicationList?.ServiceWorkflow[0]?.NextStepId,
            serviceApplicationList.ProjectId,
            serviceApplicationList.ServiceApplicationId,
            serviceApplicationList.ServiceId,
            serviceApplicationList?.ServiceNameEnglish,
             serviceApplicationList?.ServiceWorkflow[0].ServiceWorkflowId,
             serviceApplicationList.InvestorNameEnglish,
             serviceApplicationList.ProjectNameEnglish)">
                        {{serviceApplicationList?.ServiceWorkflow[0]?.NextStepId | serviceStepPipe}}
                        <!--<mat-icon color="primary" class="mat-18">navigate_next</mat-icon>-->
                      </a>
                      <!--<a class="pointer" style="color: #00bcd4;"-->
                      <!--(click)="nextStep(18,-->
                      <!--serviceApplicationList.ProjectId,-->
                      <!--serviceApplicationList.ServiceApplicationId,-->
                      <!--serviceApplicationList.ServiceId,-->
                      <!--serviceApplicationList?.ServiceNameEnglish,-->
                      <!--serviceApplicationList?.ServiceWorkflow[0]?.ServiceWorkflowId,-->
                      <!--serviceApplicationList.InvestorNameEnglish,-->
                      <!--serviceApplicationList.ProjectNameEnglish)"-->
                      <!--*ngIf="serviceApplicationList?.CurrentStatusId!==44450 ||-->
                      <!--serviceApplicationList.ServiceId===1045 ||-->
                      <!--serviceApplicationList.ServiceId===1046 ||-->
                      <!--serviceApplicationList.ServiceId===1047">-->
                      <!--Next-->
                      <!--</a>-->


                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef>Action

                    </mat-header-cell>
                    <!--<mat-header-cell *matHeaderCellDef> </mat-header-cell>-->
                    <mat-cell *matCellDef="let serviceApplicationList; let i=index">


                      <button style="margin: 4px;" mat-raised-button="" class="pointer" color="primary"
                              matTooltip="Click here for detail of the project"
                              (click)="projectDetail(serviceApplicationList)">
                        <mat-icon>visibility</mat-icon>
                        <span>View</span>
                      </button>

                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns">
                  </mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>

                <mat-paginator
                  #paginator
                  [pageSize]="3"
                  [pageSizeOptions]="[3, 10, 20]">
                </mat-paginator>
              </div>


            </mat-card-content>
          </mat-card>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1">

          <div class="padding-0">

            <mat-card style="overflow: auto; background-color: white" class="padding-0 dashboard-card">


              <mat-card-content class="dashboard-card-content">

                <div style="background-color: rgb(250, 250, 250);" fxLayout="row" fxLayoutAlign="start center"
                     fxLayoutGap="0">
                  <div class="mini-label">All Notifications</div>
                </div>

                <div class="spinner-container" *ngIf="loading ">
                  <mat-progress-bar mode="query"></mat-progress-bar>
                </div>
                <mat-table #table [dataSource]="dataSourceNotitification">


                  <ng-container matColumnDef="subject">
                    <mat-header-cell fxFlex="13" fxFlexAlign="center" *matHeaderCellDef>Subject</mat-header-cell>
                    <mat-cell fxFlex="13" fxFlexAlign="center center" *matCellDef="let notitficationList">
                      <span style="font-weight: bolder;text-decoration: underline;">{{notitficationList.Subject}}</span>
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="date">
                    <mat-header-cell fxFlex="15" fxFlexAlign="center" *matHeaderCellDef> Date</mat-header-cell>
                    <mat-cell fxFlex="15" fxFlexAlign="center center " *matCellDef="let notitficationList">
                      {{notitficationList.CreatedDate | date}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="message">
                    <mat-header-cell fxFlex="60" *matHeaderCellDef>Message</mat-header-cell>
                    <mat-cell style="font-size: 15px !important;
  color: black !important;
  text-align: justify !important;
  font-weight: bolder !important;
}" class="mess-body" fxFlex="60" *matCellDef="let notitficationList">
                      {{notitficationList.Message | filterPipe : 70}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <mat-header-cell fxFlex="9" fxFlexAlign="center center" *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell fxFlex="9" fxLayoutAlign="center center" *matCellDef="let notitficationList; let i=index">
                      <div>

                        <a fxFlexAlign="center" (click)="viewNotificationDetail()" class="custom-button pointer"
                           color="warn"
                           matTooltip="Click here for project">
                          Detail
                        </a>
                      </div>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsNotification">
                  </mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsNotification;">
                  </mat-row>
                </mat-table>

                <mat-paginator

                  #paginator
                  [pageSize]="3"
                  [pageSizeOptions]="[3, 10, 20]">
                </mat-paginator>
              </mat-card-content>
            </mat-card>


          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


    <!--Close CENTER -->
  </div>


</mat-sidenav-container>
<ng-template #serviceList>

  <!--<app-customer-service-list></app-customer-service-list>-->

</ng-template>
